<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ./include/layout-header.ejs %>
</head>

<body id="page-top">
    <div class="container">

        <%- content %>

    </div>
  <!-- End of Page Wrapper -->
  <%- include ./include/layout-footer.ejs %>
</body>

</html>
