    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fas fa-chart-area"></i> -->
            <i class="far fa-chart-bar"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Snippetchart</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Data
        </div>
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="connection" >
            <i class="fas fa-fw fa-list"></i>
            <span>Manage Connections</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="query" >
            <i class="fas fa-filter"></i>
            <span>Query</span>
          </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <div class="sidebar-heading">
          Visualizations
        </div>
        <li class="nav-item">
          <a class="nav-link collapsed" href="dataVisualizations" >
            <i class="fas fa-chart-pie"></i>
            <span>Visualization</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="dashboards" >
            <i class="fas fa-cubes"></i>
            <span>Dashboards</span>
          </a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <div class="sidebar-heading">
          Marketplace
        </div>
        <li class="nav-item">
          <a class="nav-link collapsed" href="marketplace" >
            <i class="fas fa-bullseye"></i>
            <span>Marketplace</span>
          </a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">
        <div class="sidebar-heading">
          Settings
        </div>
        <li class="nav-item">
          <a class="nav-link collapsed" href="libraries" >
            <i class="fas fa-archive"></i>
            <span>Libraries</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="workspace" >
            <i class="fas fa-user-plus"></i>
            <span>Workspace</span>
          </a>
        </li>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->
  