<%- contentFor('content') %>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Connections</h1>
</div>

<div class="row">


    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CSV connections</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="csv_count"> </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-csv fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Rest api's connections</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="rest_count"> </div>

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-globe fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Hive connections</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="hive_count"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-database fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">


    <div class="col-lg-12">

        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Connections</h6>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add new
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Add new connection:</div>
                        <a class="dropdown-item" data-toggle="modal" data-target="#csvModal">CSV</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#restModal">Rest</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#hiveModal">Hive</a>
                    </div>


                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="30%">Connection id</th>
                                <th width="30%">Connection type</th>
                                <th width="30%">Connection name</th>
                                <th width="10%">Actions</th>

                            </tr>
                        </thead>

                        <tbody id="connection_table">
                      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- CSV MODAL  -->
<div class="modal fade" id="csvModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content border-bottom-success">
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Upload CSV file</label>

                    <div class="input-group">

                        <input type="file" id="inputGroupFile01" ><br><br>

                    </div>
                </div>

                <a href="#" class="btn btn-info btn-icon-split btn-sm">

                    <span class="text" id="save_csv">Upload and Save</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END CSV MODAL -->

<!-- REST MODAL  -->
<div class="modal fade" id="restModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content border-bottom-info">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Connection Name</label>
                        <input type="text" class="form-control" id="rest_name" placeholder="Connection Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Service URL</label>
                        <input type="text" class="form-control" id="rest_url" placeholder="Service URL">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="rest_method">Method</label>
                            <select id="rest_method" class="form-control">
                                <option value="GET" selected>GET</option>
                                <option value="POST">POST</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Accept Type</label>
                            <input type="number" class="form-control" id="rest_type" placeholder="application/json"
                                readonly>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="auth">Authentication</label>
                        <select id="auth" class="form-control" onChange="handleSelection(value)">
                            <option value="false" selected>No auth</option>
                            <option value="Basic">Basic auth</option>
                        </select>
                    </div>
                    <div id="auth_div">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Username</label>
                            <input type="text" class="form-control" id="rest_username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="rest_password" placeholder="Password">
                        </div>

                    </div>

                    <label for="auth">Path to JSON Array</label>
                    <div class="container">
                        <table id="myTable" class=" table order-list">
                              <thead>
                                <tr>
                                    <td >Step</td>
                                    <td >JSON Key</td>
                                    <td ></td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" style="text-align: left;">
                                        <input type="button" class="btn btn-lg btn-block " id="addrow"
                                            value="Add Row" />
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <a href="#" class="btn btn-success btn-icon-split btn-sm">

                        <span class="text" id="save_rest">Save</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split btn-sm">

                        <span class="text" id="test_connection_rest">Test connection</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END REST MODAL -->

<!-- HIVE MODAL  -->
<div class="modal fade" id="hiveModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content border-bottom-warning">
            <div class="modal-body">
                <form>

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="exampleInputEmail1">Database url</label>
                            <input type="text" class="form-control" id="hive_url" placeholder="Database url">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1">Port</label>
                            <input type="number" class="form-control" id="hive_port" placeholder="Port">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Database Name</label>
                        <input type="text" class="form-control" id="hive_database" placeholder="Database Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Database user</label>
                        <input type="text" class="form-control" id="hive_user" placeholder="Database user">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="hive_password" placeholder="Password">
                    </div>
                    <a href="#" class="btn btn-success btn-icon-split btn-sm">

                        <span class="text" id="save_hive">Save</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split btn-sm">

                        <span class="text" id="test_connection_hive">Test connection</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END HIVE MODAL -->

<!-- SHARE MODAL  -->
<div class="modal fade" id="shareModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content border-bottom-dark">
            <div class="modal-body">
                <div class="form-group">
                    <form>
                        <input type="hidden" id="connectionIdShare" name="connectionIdShare">

                        <input type="hidden" id="pathShare" name="pathShare">

                        <label for="exampleInputPassword1">Select users to share</label>
                        <select id="allUsers" name="allUsers[]" multiple="multiple" class="form-control input-sm">


                        </select>
                        </br>
                        <a href="#" class="btn btn-info btn-icon-split btn-sm">

                            <span class="text" id="share_connection">Share Connection</span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SHARE MODAL -->

<script>

    var x = document.getElementById("auth_div");
    x.style.display = "none";

    function handleSelection(choice) {
        var x = document.getElementById("auth_div");
        if (choice === "Basic") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

    }

</script>
<script src="js/app_js/workspaceNormal.js"></script>
<script src="js/app_js/connection.js"></script>
