<%- contentFor('content') %>

<link href="css/dashboard.css" rel="stylesheet">

<!-- Page Heading -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<div class="wrapper">
    <div class="box">
        <div>
            <div id="resulteditor">
                <a class="nav-link"><i class="fas fa-poll"></i><span> Result</span></a>

                <div id="result" class="wrap">
                    <!-- <div class="draggable" id="drag1">
                        <h1>ss</h1>
                    </div>
                    <div class="draggable" id="drag2">
                        <h1>sss</h1>
                    </div> -->

                </div>

            </div>
        </div>
    </div>
    <div class="handler"></div>
    <div class="box">
        <div>
            <div id="jseditor">
                <a class="nav-link"><i class="fab fa-js"></i><span> JavaScript</span></a>

                <textarea id="jstextarea"></textarea>
            </div>
            <div id="csseditor">
                <a class="nav-link"><i class="fab fa-css3-alt"></i><span> CSS</span></a>

                <textarea id="csstextarea"></textarea>
            </div>



        </div>

    </div>

</div>

<script src="js/app_js/dashboard.js"></script>