<%- contentFor('content') %>

<style>
    .isDisabled {
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }

    a {
        color: white
    }
</style>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Visualizations</h1>
    <a id="create" class="btn btn-dark btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-file"></i>
        </span>
        <span class="text">Create Blank</span>
    </a>
</div>


<div id="htmlToInsert">

</div>

<!-- share market place MODAL  -->
<div class="modal fade" id="shareModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content border-bottom-dark">
            <div class="modal-body">
                <h3>Share in marketplace</h3>
                <input type="hidden" id="idViz" name="idViz" class="form-control col-md-4" />

                <div class="form-group col-md-12">
                    <label for="categories">Category</label>
                    <select id="categories" class="form-control">

                    </select>
                </div>

                <div class="form-group col-md-12">
                    <label>Description</label>
                    <textarea id="description" class="form-control" rows="4" cols="50">

                    </textarea>

                </div>

                <div class="form-group col-md-12">
                    <label>Tags</label>
                    <br>
                    <input type="text" id="multiTag" data-role="tagsinput" />

                </div>

                <a href="#" class="btn btn-success btn-icon-split btn-sm">

                    <span class="text" id="shareMarket">Share</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- END share market place MODAL -->
<script src="js/app_js/workspaceNormal.js"></script>
<script src="js/app_js/dataviz.js"></script>